* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  max-width: auto;
  max-height: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'header-container '
    'nav-bar-container'
    'scripts-container'
    'contact-container';
  margin: 0rem 2.5rem 0rem 2.5rem;
  background-color: #1B1B1B;
  box-shadow: 0px 0px 10px 10px black;
}

/* Button Styles */

/* Default button styles */
.btn {
    border-radius: .3rem;
    background: none;
    border: none;
    font-family: 'Cantarell', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn:focus{
    outline: none;
}

.btn:hover {
    color: white;
    text-shadow:2px 2px 4px #000000;
    transform: scale(1.1);
}

/* Nav Bar buttons */
.nav-btn {
    color: #f5f5f5;
    text-shadow: -.05rem 0 #1B1B1B, 0 .05rem #1B1B1B, .05rem 0 #1B1B1B, 0 -.05rem #1B1B1B;
    margin-left: 1rem;
}

.nav-btn:hover{
    background-color: transparent;
}

/* Button inside script posters */
.script-btn {
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    margin: 2rem;
    padding: .5rem;
    font-size: 1.5rem;
    color: #f5f5f5;
    text-shadow: -.05rem 0 #1B1B1B, 0 .05rem #1B1B1B, .05rem 0 #1B1B1B, 0 -.05rem #1B1B1B;
}

/* Modal close button */
.close-btn {
  grid-area: close-btn;
  position: fixed;
  color: lightgray; 
  font-size: 2rem;  
  font-weight: bold;
  transform: scale(.8rem);
}

.close-btn:hover, .close-btn:focus {
  color: darkgray;
  cursor: pointer;
  transform: scale(1.5);
  transition: .3s;
  text-shadow: none;
}

/*Header, contains bio, titles, and image of self*/
#header-container {
    display: grid;
    max-width: auto;
    max-height: 100%;
    padding: 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'title-container'
    'short-info-container';
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/header-images/Typewriter.png);
    background-position: center;
    background-size: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}

/*Contains titles, picture of self, logo, and profession*/
#title-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'name-title         self-image '
    'screenwriter-title self-image ';
}

#logo-image{
    grid-area: logo-image;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

/*self image*/
#self-image {
    grid-area: self-image;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    border: .3rem solid #1B1B1B;
    background-color: #1B1B1B;
    max-width: 100%;
    max-height: 100%;
}

#name-title{
    grid-area: name-title;
    justify-self: center;
    align-self: flex-end;
    font-size: 4rem;
    font-family: 'IM Fell English', serif;
    color: #f5f5f5;
    text-shadow: -.05rem 0 #1B1B1B, 0 .05rem #1B1B1B, .05rem 0 #1B1B1B, 0 -.05rem #1B1B1B;
    padding-right: 2rem;
}

#screenwriter-title{
    grid-area: screenwriter-title;
    justify-self: center;
    align-self: flex-start;
    font-size: 3rem;
    font-family: 'Creepster', cursive;
    color: #f5f5f5;
    text-shadow: -.05rem 0 #1B1B1B, 0 .05rem #1B1B1B, .05rem 0 #1B1B1B, 0 -.05rem #1B1B1B;
    padding-right: 2rem;
}

#about-me-hook {
    grid-area: about-me-hook;
    font-size: 1.8rem;
    font-family: 'Special Elite', cursive;
    margin-top: 2rem;
    background-color: #f5f5f5;
    border: .3rem solid #1B1B1B;
    border-radius: 1rem;
    padding: 3rem;
}

/*Contains nav bar buttons*/
#nav-bar-container {
    background-color: #8A0303;
    padding: 1rem;
}

/*Contains script titles, script pictures*/
#scripts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'script script script'
    'script script .     ';
    padding: 4rem;
    object-fit: contain;
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: #141414;
}

.script {
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    object-fit: contain;
}

.script-title{
    font-size: 1.5rem;
    font-family: 'IM Fell English', serif;
    color: #1B1B1B;
    text-shadow: 1px 1px 1px #8A0303;
}

.script-img {
    max-width: 100%;
    max-height: 100%;
    border: .2rem solid #f5f5f5;
    box-shadow: 0px 0px 10px 3px black;
}

.script-text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 2rem;
    color: #f5f5f5;
    text-shadow: -.05rem 0 #1B1B1B, 0 .05rem #1B1B1B, .05rem 0 #1B1B1B, 0 -.05rem #1B1B1B;
    font-family: 'Special Elite', cursive;
    font-size: 2rem;
}

.ritual-x-script-text {
    font-size: 1.79rem;
}

.script:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.script:hover .script-img{
    opacity: 0.5;
    transition: 0.4s;
}

.script:hover .script-text{
    opacity: 1;
    transition: 0.4s;
}

.script:hover .script-btn{
    opacity: 1;
    transition: 0.4s;
}

/* Modal Overlay */ 
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

/*Summary Modals*/

/* The Modal (background) */
.script-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  'summary-title   summary-award   close-btn      '
  'summary-content summary-content summary-content';
  padding: 2rem;
  margin: 0 auto;
  z-index: 51; 
  background-color: #f5f5f5;
  border: .3rem solid #1B1B1B;
  border-radius: 25px;
}

/* Modal Title */
.summary-title {
    grid-area: summary-title;
    font-size: 5rem;
    font-family: 'IM Fell English', serif;
    justify-self: center;
    align-self: center;
    padding-right: 2rem;
}

/* Modal Award */
.summary-award {
    display: flex;
    grid-area: summary-award;
    height: 6rem;
    width: 6rem;
    object-fit: contain;
    align-self: center;
}

/* Modal Content/Box */
.summary-content {
    grid-area: summary-content;
    font-size: 1.5rem;
    font-family: 'Special Elite', cursive;
    padding-bottom: 2rem;
    overflow: scroll;
    overflow-x: hidden;
}
